@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
header {
  padding: 80px 0 100px;
}

a {
  color: white;
}

.btnPlus , .btndel {
  margin-top: 22px;
  margin-bottom: 11px;
}
.contact a p i {
margin-left: 1em;
}

.createArticle{
  padding-top: 45px;
  }

.crud{
  display: grid;
}

  

#formActiv {
  visibility: hidden;
}


.fa-instagram{
 color:#e4405f;
}

.fa-facebook{
 color:#3b5998;
}

.fa-map-marker-alt{
 color:#15aabf;
}

.fronttext{
  color: 	#877466;
  font-family: 'Permanent Marker', cursive;
  font-size: 90px;
}

.header{
  widows: 100%;
  height : 350px;
  background-color: #f4f4f4;
  background: url('../img/logo_site.jpg') no-repeat center;
  text-align: center;
}
.header p {
  padding-top: 9%;
}

.info{
  margin-right: 8px;
  font-size: 22px;

}

.services  {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  opacity: 0.8;
  background: url('../img/rec.jpg');
}
.services h5 {
   text-align: center;
}
.slide{
  margin-right: 21px;
}


.logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

/*.big-banner{
  background-image: url('../img/rec.jpg');
}*/

.navbar .navbar-expand-lg {
  color:whitesmoke;
}

.mkservices:hover .card-img-top{
  opacity: 0.2;

}
.image{
  width : 50px;
  height: 50px;
  margin: 50px;
}


.partenaires {
  display: flex;
}

section {
  padding: 150px 0;
}

div.card-body{

}
.card{
  background: none;
  background-color: rgb(52,58,64);
  opacity: 0.7;
}

.card-title{
  font-family: "Hind",sans-serif, monospace;
  color:white;

  ;
  opacity: 1;
  margin: 10px;
}

.card-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255,255,255, 0.9);


  opacity: 1;
}


h5 {
  margin-bottom: 3%;
}